{% extends "./base.html.twig" %}

{% block head %}
    {{ parent() }}

    {% block styles %}

    {% endblock %}
    {% block top_javascript %}

    {% endblock %}

{% endblock %}
{% block content %}
    {% include './partials/inner_navbar.html.twig' %}
    {% set page_title = 'Approve Request' %}
<div id="GridContainer" class="container mx-auto p-2.5">
    {% include './partials/breadcrumb.html.twig' %}
    <div id="container" class="container mx-auto p-2.5">
        <h1 class="mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-3xl dark:text-slate-700">Request<span class="text-red-600 dark:text-red-500 m-2">Approval</span></h1>
        <div class="text-right mb-4">   <a href="{{ url_for('requests') }}" class="btn-light mb-2">
                 Show Requests
            </a>
        </div>
        <hr class="h-px my-4 border-0">
        <!-- component -->
        {% include './includes/bar_2.html.twig' %}
        <!-- component -->

        <hr class="h-px my-4 border-0">
        <!-- form -->
        <section class="bg-white py-2 antialiased dark:bg-gray-900 md:py-8 grid grid-cols-12">
            <div class="px-2 col-span-12 md:col-span-9 lg:col-span-9 justify-start mx-2">

                <p class="alert text-sm text-gray-600 dark:text-gray-400 mb-6 md:mb-8 font-semibold">Request <a href="#" class="text-gray-900 dark:text-white hover:underline"># {{ id }}</a> will be reviewed within 48 hours during working days. You will be notified by email once the order is processed.</p>
                <div class="space-y-4 sm:space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 dark:border-gray-700 dark:bg-gray-800 mb-6 md:mb-8">
                    <dl class="sm:flex items-center justify-between gap-4">
                        <dt class="text-sm mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Date submitted</dt>
                        <dd class="text-sm text-gray-900 dark:text-white sm:text-end">{{ date_submitted |date("d F Y -h:i:s a") }} </dd>
                    </dl>
                    <dl class="sm:flex items-center justify-between gap-4">
                        <dt class="text-sm mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Requester</dt>
                        <dd class="text-sm text-gray-900 dark:text-white sm:text-end">{{ first_name }}
                        {{ last_name}}</dd>
                    </dl>

                    <dl class="sm:flex items-center justify-between gap-4">
                        <dt class="text-sm mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Employee type</dt>
                        <dd class="text-sm text-gray-900 dark:text-white sm:text-end">

                            {% if employment_status == 1 %}
                               Staff
                            {% elseif employment_status == 2 %}
                                Faculty
                            {% elseif employment_status == 3 %}
                                Grad Student
                            {% elseif employment_status == 4 %}
                                Undergraduate
                            {% elseif employment_status == 5 %}
                                Post-Doc/Other
                            {% endif %}
                        </dd>
                    </dl>
                    <dl class="sm:flex items-center justify-between gap-4">
                        <dt class="text-sm mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Reason for request</dt>
                        <dd class="text-sm text-gray-900 dark:text-white sm:text-end">{{  request_reason }}</dd>
                    </dl>
                    <dl class="sm:flex items-center justify-between gap-4">
                        <dt class="text-sm mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Keys for needed for room(s)</dt>
                        <dd class="text-sm text-gray-900 dark:text-white sm:text-end">
                            {% for room in rooms %}
                                {{ room }}  |
                            {% endfor %}
                        </dd>
                    </dl>
                    <hr class="my-2">
                    <dl class="sm:flex items-center justify-between gap-4">
                        <dt class="text-sm mb-1 sm:mb-0 text-gray-500 dark:text-gray-400">Card activation needed for</dt>
                        <dd class="text-sm text-gray-900 dark:text-white sm:text-end">
                            {% for card in card_access %}
                            {{ card }} |
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
                {% if session.username is same as (approver_id) %}
                <form class="px-4" hx-patch="/api/requests/{{ id }}" hx-validate="true" >

                    <h3 class="mb-4 font-semibold text-gray-700 dark:text-white">Has requester completed all safety training - including lab specific training? </h3>
                    <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input required id="horizontal-safety_training-st" type="radio" value="Safety training only" name="safety_training" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="horizontal-safety_training-st" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Safety training only </label>
                            </div>
                        </li>
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="horizontal-safety_training-ls" type="radio" value="Safety + lab specific training" name="safety_training" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="horizontal-safety_training-ls" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Safety + lab specific training </label>
                            </div>
                        </li>
                        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="horizontal-safety_training-none" type="radio" value="Training incomplete" name="safety_training" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="horizontal-safety_training-none" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Training incomplete</label>
                            </div>
                        </li>
                        <li class="w-full dark:border-gray-600">
                            <div class="flex items-center ps-3">
                                <input id="horizontal-safety_training-na" type="radio" value="Not applicable" name="safety_training" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                <label for="horizontal-safety_training-na" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Not applicable</label>
                            </div>
                        </li>
                    </ul>

                    <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">

                        {% if status == 4 %}
                            <h3 class="my-4 mx-4 py-2 font-semibold text-gray-700 dark:text-white">In the space provided below, provide (1) an explanation of the need for this undergraduate student to have key access to the laboratory, and (2) how will you ensure the student is not working along with hazardous materials?</h3>
                        <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                            <label for="justification" class="sr-only">Required for undergraduate students</label>
                            <textarea id="justification" name="justification" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="To proceed, write a justification for this request or explain why this request was not approved ..." required></textarea>
                        </div>
                        {% endif %}

                        <label class="inline-flex items-center mb-5 pt-4 ml-2 cursor-pointer">
                            <input required name="status" type="radio" value="approved" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600 dark:peer-checked:bg-blue-600"></div>
                            <span class="ms-3 text-sm font-medium text-gray-700 dark:text-gray-500">Approve request</span>
                        </label>

                        <label class="inline-flex items-center pt-4 ml-16 cursor-pointer">
                            <input name="status" type="radio" value="rejected" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600 dark:peer-checked:bg-blue-600"></div>
                            <span class="ms-3 text-sm font-medium text-gray-700 dark:text-gray-500">Reject request</span>
                        </label>


                        <div class="flex items-center justify-between px-3 py-4 border-t dark:border-gray-600 border-gray-200">

                            <button type="submit" class="inline-flex items-center py-2.5 px-4 float-right mr-2 text-sm btn-dark">
                                Submit Decision
                            </button>

                        </div>
                    </div>
                </form>
                {% endif %}
            </div>

            {% if status == 'Submitted' %}
                    {% include './includes/stepper_submitted.html.twig' %}
            {% elseif status == 'Rejected' %}
                    {% include './includes/stepper_rejected.html.twig' %}
            {% elseif status == 'Approved' %}
                    {% include './includes/stepper_approved.html.twig' %}
            {% else %}
                {% include './includes/stepper_request.html.twig' %}
            {% endif %}>

        </section>


                    </div>
            </div>

        <!-- form -->


    {% endblock %}
    {% block javascript %}

<script>
    $(document).ready(function() {
        $('#card_access').select2()
    });

</script>
{% endblock %}