
<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html.twig' %}
<body id="main-app" class="dx-viewport dark:bg-[#111827] dark:text-gray-400 bg-[#FAFAFA] dx-swatch-umd-fluent-scheme-light">
{% include 'partials/navbar.html.twig' %}
<div id="content" class="mx-auto pt-0 h-lvh min-[375px]">
    {% block content %}

    {% endblock %}
</div>
<script src="{{ '/assets/js/flowbite.min.js' }}"></script>
<script src="{{ '/assets/js/tw-elements.umd.min.js' }}"></script>
<script src="{{ '/assets/js/dx.web.js' }}"></script>
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
<script src="{{ '/assets/js/utils/alpinejs@3.14.8.min.js' }}"></script>

<script src="{{ '/assets/js/utils/htmx.min.js' }}"></script>
<script src="{{ '/assets/js/dark-mode.js' }}"></script>
<script src="{{ '/assets/js/utils/menu.js' }}"></script>
<script src="{{ '/assets/js/utils/select2.min.js' }}"></script>
{% block javascript %}
{% endblock %}
<script src="https://umd-header.umd.edu/build/bundle.js?search=0&amp;events=0&amp;news=0&amp;schools=0&amp;admissions=0&amp;support=0&amp;support_url=&amp;wrapper=1100&amp;sticky=0"></script>
</body>
</html>